@import 'tailwindcss' theme(static);
@import '@nuxt/ui';

@theme {
	--font-bebas: 'Bebas Neue';
	--font-inter: 'Inter';
	--ui-container: 90%;

	/* Cores */

	--ui-text-dimmed: var(--ui-color-neutral-500);
	--ui-text-muted: var(--ui-color-neutral-200);
	--ui-text-toned: var(--ui-color-neutral-300);
	--ui-text: var(--ui-color-neutral-100);
	--ui-text-highlighted: var(--color-white);
	--ui-bg: var(--ui-color-neutral-950);
	--ui-bg-muted: var(--ui-color-neutral-800);
	--ui-bg-elevated: var(--ui-color-neutral-800);
	--ui-bg-accented: var(--ui-color-neutral-700);
	--ui-bg-inverted: var(--color-white);
	--ui-border: var(--ui-color-neutral-800);
	--ui-border-muted: var(--ui-color-neutral-700);
	--ui-border-accented: var(--ui-color-neutral-700);
	--ui-border-inverted: var(--color-white);
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
	html {
		scroll-behavior: smooth;
		scroll-padding-top: 4.5rem;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--font-bebas), sans-serif;
	}
	h1 {
		font-size: 3rem;
	}
	h2 {
		font-size: 2.7rem;
		line-height: 40%;
	}
	h3 {
		font-size: 2.5rem;
	}
	h4 {
		font-size: 2.25rem;
	}
	p {
		font-family: var(--font-inter), sans-serif;
		font-size: 1.5rem;
	}
}
