@import 'tailwindcss' theme(static);
@import '@nuxt/ui';

@theme {
	--font-bebas: 'Bebas Neue', sans-serif;
	--font-inter: 'Inter', sans-serif;
	--ui-container: 90%;

	/* Text Colors */
	--ui-text: var(--ui-color-neutral-100);
	--ui-text-dimmed: var(--ui-color-neutral-500);
	--ui-text-muted: var(--ui-color-neutral-200);
	--ui-text-toned: var(--ui-color-neutral-300);
	--ui-text-highlighted: var(--color-white);

	/* Backgrounds */
	--ui-bg: var(--ui-color-neutral-950);
	--ui-bg-muted: var(--ui-color-neutral-800);
	--ui-bg-elevated: var(--ui-color-neutral-800);
	--ui-bg-accented: var(--ui-color-neutral-700);
	--ui-bg-inverted: var(--color-white);

	/* Borders */
	--ui-border: var(--ui-color-neutral-800);
	--ui-border-muted: var(--ui-color-neutral-700);
	--ui-border-accented: var(--ui-color-neutral-700);
	--ui-border-inverted: var(--color-white);
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
	html {
		scroll-behavior: smooth;
		scroll-padding-top: 4.5rem;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--font-bebas);
	}
	h1 {
		font-size: clamp(2.5rem, 5vw, 3rem);
	}
	h2 {
		font-size: clamp(2.25rem, 4.5vw, 2.7rem);
		line-height: 1;
	}
	h3 {
		font-size: clamp(2rem, 4vw, 2.5rem);
	}
	h4 {
		font-size: clamp(1.75rem, 3.5vw, 2.25rem);
	}
	p {
		font-family: var(--font-inter);
		font-size: clamp(1rem, 1.5vw, 1.5rem);
	}
}
